@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 89.2rem;
  padding: 0 2.8rem;
  margin: 0 auto;
}
