$main-black: rgba(28, 28, 28, 1);
$main-white: rgba(255, 255, 255, 1);

// Light theme

$gray-black: rgba(0, 0, 0, 0.05);
$gray-black-light: rgba(0, 0, 0, 0.2);
$gray-black-heavy: rgba(0, 0, 0, 0.4);

// Dark theme

$gray-white: rgba(255, 255, 255, 0.1);
$gray-white-light: rgba(255, 255, 255, 0.2);
$gray-white-heavy: rgba(255, 255, 255, 0.4);
